[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "==4.3.20"
black = "==19.3b0"
pylint = "==2.3.1"
pytest = "==4.6.3"
pytest-cov = "==2.7.1"

[packages]

[requires]
python_version = "3.7"
